
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

#IntelliJ IDE
.idea
*.iws
*.iml
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Maven
target/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Metadata 
app_storage/

# App Config
options/

# Truststore
truststore.jks

# Logback 
logback.xml
